/* for header.php */
img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    line-height: 50px;
    vertical-align: middle;
}
ul{
    display: inline;
}
li{
    display: inline;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
}
#por{
    margin:0px 20px;
}
#contact{
    margin:0px 20px;
}
header{
    height: 50px;
    background-color: white;
}
body{
    margin:0px;
    padding:0px;
    background-color: rgb(242, 242, 242);
}
nav{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    vertical-align: middle;
}
.secCol{
    display: inline;
}
.form{
    display: inline;
}
button{
    color: white;
    background-color: #333;
    border: none;
    width: 70px;
    height: 27px;
    border-radius: 5px;
}
.logout{
    margin-right: 20px;
}
.signup{
    margin: 10px;
}
.text{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(242, 242, 242);
    margin-right: 5px;
    outline: none;
}
.pwd{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(242, 242, 242);
    margin-right: 10px;
    outline: none;
}
 /* for index.php */
section{
    background-color: white;
    width: 50%;
    height: 50px;
    margin: 0 auto;
}
.section-default{
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}

 /* for signup.php */
.wrapper-main{
    background-color: white;
    width: 50%;
    height: 300px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.form-signup{
    text-align: center;
}
.signemail{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(242, 242, 242);
    margin-right: 5px;
    outline: none;
    margin: 10px 0px;
}
.signname{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(242, 242, 242);
    margin-right: 5px;
    outline: none;
}
.signpass{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(242, 242, 242);
    margin-right: 5px;
    outline: none;
}
.rppass{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(242, 242, 242);
    margin-right: 5px;
    outline: none;
    margin: 10px 0px;
}